<div class="fixed pin-x pin-b">
    <div class="pixels-700">
            <iframe name="mini" style="border:0px;width:100%;height:100px;" src="https://widget.cdbaby.com/e085107c-37f6-461e-9e9d-298601307cd5/mini/dark/transparent"></iframe>
    </div>
</div>
