@import 'tailwind';

@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

body
{
@media(min-width: 1200px){
    background: url('images/dm.png') no-repeat;
    background-size: cover;

}
background-color:$black;
height: auto;}
.logo{
    fill:#FFFFFF;
}
.tunes{
    width:80%;
    margin: auto;
    bottom:0px;
    position: absolute; 
    left: 50%;
}