@import 'tailwind';

@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

body
{
@media(min-width: 1200px){
    background: url('images/car.jpg') no-repeat;
    background-size: cover;
}
background: url('images/mob-bgr.jpg') no-repeat;
background-size: cover;
background-color:$black;
color:$white;
font-family: 'Oswald', sans-serif;
}
.logo{
    fill:#FFFFFF;
}
.tunes{
    width:80%;
    margin: auto;
    bottom:0px;
    position: absolute; 
    left: 50%;
}
h1, h2, h3{
    font-family: 'Staatliches', cursive;
  }