<div class="container mx-auto px-4">

<iframe height="500" width="100%" src="https://www.youtube.com/embed/EWJVpIVhgOE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{outlet}}